<div class="home-page">
	<div class="top">
		{{photo-slider-container photos=sliderPhotos startIndex=2}}
	</div>
	<div class="bottom">
		{{render 'home/instagram' instagramData}}
		{{render 'home/news-articles' recentNewsArticles}}
		{{twitter-widget widgetId='579029628536279040' username='samjulien'}}
	</div>
</div>